* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

section {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1.25fr;
    max-width: 350px;
    border-radius: 10px;
}

.img-container {
    width: 350px;
    height: 290px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.section-1 img {
    width: 100%;
    position: relative;
    bottom: 135px;
}

.container {
    margin: 15px 22.5px;
}

.brand-name h1, .price h1{
    font-family: 'Fraunces', serif;;
}

.price {
    display: flex;
    align-items: center;
}

.price h1 {
    color: hsl(158, 36%, 37%);
    font-size: 35px;
}

.title h2{
    font-size: 15px;
    font-weight: 500;
    color: hsl(228, 12%, 48%);;
}

.price p {
    margin-left: 20px;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}

.container div {
    margin: 10px 0;
}

.brand-name h1 {
    font-size: 35px;
}

.description p{
    line-height: 2;
    color: hsl(228, 12%, 48%);
}

.add-to-cart .box{
    display: flex;
    background-color: hsl(158, 36%, 37%);;
    margin: 10px;
    padding: 15px 0;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.add-to-cart .box p {
    margin-left: 10px;
}